AppNode/node_modules/
AppNode/public/js/containers.js
AppNode/public/js/data.js
AppPython/*.pyc
AppPython/*.cpk
AppPython/*.buff
AppPython/logs/*.log
AppPython/out/*.json
AppPython/.mx140.dat
AppPython/.MX_en140.credential
AppPython/config.ini
MexicoEn140_Entrega/
.vscode/